:root{
    --primary: #Bc38ff;
    --light:#EEEEEE;
    --dark: #212121;
    --bg: #24104f
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Fira sans',sans-serif;
}
.container {
    max-width: 1280px;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

nav{
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 99;
    background:linear-gradient(to right,#00093c,#2d0b00);
    padding: 16px 32px;
    border-bottom: 3px solid var(--primary);
}
h1 {
    color:#FFF;
    font-size:  28px;
    font-weight: 900;
    letter-spacing: 2px;
    text-transform: uppercase;
}

/* .menu-bg {

} */

.hamburger{
    display: block;
    position: relative;
    z-index: 1;
    user-select: none;
    appearance: none;
    border: none;
    outline: none;
    background : none;
    cursor:pointer;
    
}
.hamburger span {
    display: block;
    width: 33px;
    height: 4px;
    margin-bottom: 5px;
    position: relative;
    background-color: var(--light);
    border-radius: 6px;
    z-index: 1;
    transform-origin: 0 0;
    transition: 0.4s;
}
.hamburger:hover span:nth-child(2) {
    transform: translateX(10px);
    background-color: var(--primary);

}
.hamburger.is-active span:nth-child(1){
    transform: translate(0px,-2px) rotate(45deg);
}
.hamburger.is-active span:nth-child(2){
    opacity: 0;
    transform: translateX(15px);
}

.hamburger.is-active span:nth-child(3){
    transform: translate(-3px,3px) rotate(-45deg);
} 

.hamburger.is-active:hover span {
    background-color: var(--primary);
}

.hamburger.is-active ~ a {
  transform: none;
}

.hamburger a {
    display: none;
}

.menu {
    display: none;
    flex: 1 1 0%;
    justify-content: flex-end;
    margin: 0 -16px;
}

.menu a {
    color: #FFF;
    margin: 0 16px;
    font-weight: 600;
    text-decoration: none;
    padding: 8px 16px;
    border-radius:  99px;
    float: right;
}
.menu a.is-active , .menu a:hover{
    background-color: var(--primary);
}
.menu a.is-active:hover {
    background-color: var(--light);
    color: var(--dark);
}

.menu a.logout {
    background-color: #ff386a;
}

.hmenu {
	position: fixed;
	top: 0;
	left: 100%;
	width: 100%;
	min-height: 100vh;
	display: block;
	z-index: 98;
	background-color: #12002F;
	padding-top: 120px;
	transition: 0.4s;
}

.hmenu.is-active {
	left: 0;
}

.hmenu a {
	display: block;
	width: 100%;
	max-width: 200px;
	margin: 0 auto 16px;
	text-align: center;
	padding: 12px 16px;
	background-color: #1f103F;
    border-radius:  99px;
    font-weight: 600;
	color: #FFF;
	text-decoration: none;
}
.hmenu a.is-active {
    background-color: #9a2dd9;
}
.hmenu a:hover {
    background-color: var(--primary);
}
.hmenu a.logout {
    background-color: #ff386a;
}

.outercontainer {
    position: relative;
	top: 20%;
	width: 100%;
    /* padding: 20em 0; */
    margin: 25vh auto;
	display: block;
    text-align: left;
	/* transition: 0.4s; */
}
.innercontainer {
    padding: 5px;
}
.outercontainer form {  
    width: 382px;  
    overflow: hidden;  
    margin: auto;  
    margin: 20 0 0 450px;  
    padding: 60px;   
    border-radius: 15px;
    color: #ffffff;
    background-color: #12002F;
}
.outercontainer label {
    padding-left: 10px;
}
.outercontainer button {
    background-color: #24104f;
    border-radius: 99px;
    border-style: none;
    padding: 12px 16px;
    color: #FFF;
    font-weight: 600;
    margin-top: 10px;
    margin-left: 10px;
}

.outercontainer a {
    color: #FFF;
    margin-top: 10px;
    margin-left: 10px;
}

.error {
    border: #ff386a solid 1px;
    border-radius: 15px;
    color: #ff386a;
    padding: 10px;
}
.innercontainer input {
    padding: 10px;
    outline: none;
    border-radius: 20px;
    border: 1px solid #9a2dd9;
    background-color: var(--dark);
    color: #ffffff;
    width: 250px;
    height: 35px;
}

input:focus {
    box-shadow: 0 0 10px #9a2dd9;
}

footer{
    width: 100%;
    height: 10%;
    position: relative;
    bottom: 0;
    background:linear-gradient(to right,#00093c,#2d0b00);
    color: #fff;
    padding: 100px 0 30px;
    border-top-left-radius: 125px;
    font-size: 13px;
    line-height: 20px;
}
.row{

    width:85%;
    margin:auto;
    display:flex;
    align-items:flex-start;
    justify-content:space-between;
}
.col{
    flex-basis:25%;
    padding:10px;
}
.col:nth-child(2), .col:nth-child(3){
    flex-basis: 15%;
}
.col h3{
    width:fit-content;
    margin-bottom:40px;
    position:relative;
}
.email-id{
    width:fit-content;
     border-bottom:1px solid #ccc;
     margin:20px;
}
ul li{
    list-style:none;
    margin-bottom:12px;
}
ul li a{

    text-decoration:none;
    color:#fff;
}
.col form{
    padding-bottom:15px;
    display:flex;
    align-items:center;
    justify-content:space-between;
    border-bottom:1px solid #ccc;
    margin-bottom:50px;
}
.col form .far{
    font-size:18px;
    margin-right:10px;
}
.col form input{

    width:100%;
    background:transparent;
    color:#ccc;
    border:0;
    outline:none;
}
.col form .far{
    font-size:18px;
    margin-right:10px;
}
.col form input{

    width:100%;
    background:transparent;
    color:#ccc;
    border:0;
    outline:none;
}
.col form button{
    background: transparent;
    border: 0;
    outline: none;
    cursor: pointer;
}
.col form button .fas{
    font-size: 16px;
    color: #ccc;
}
.social-icons .fab{
    width: 40px;
    height: 40px;
    border-radius: 50%;
    text-align: center;
    line-height: 40px;
    font-size: 20px;
    color: #000;
    background: #fff;
    margin-right: 15px;
    cursor: pointer;
}
hr{
    width: 90%;
    border: 0;
    border-bottom: 1px solid #ccc;
    margin: 20px auto;
}
.copyright{
    text-align: center;
}
.underline{
    width: 100%;
    height: 5px;
    background: #767676;
    border-radius: 3px;
    position: absolute;
    top: 25px;
    left: 0;
    overflow: hidden;
}
.underline span{
    width: 15px;
    height: 100%;
    background: #fff;
    border-radius: 3px;
    position: absolute;
    top: 0;
    left: 10px;
    animation: moving 2s linear infinite;
}

.outline {
    height: 100%;
}

@keyframes moving{
    0%{
        left: -20px;
    }
    100%{
        left: 100%;
    }
}
@media (max-width: 768px){
    footer{
        bottom: unset;
    }
    .col{
        flex-basis:100%;
        
    }
    .col:nth-child(2), .col:nth-child(3){
        flex-basis: 100%;
    }
}

@media(min-width: 800px) {
    .hamburger{
        display: none;
    }
    .hmenu {
		display: none;
	}
    .menu{
        display : block;
    }
}

.image-grid{
    --gap: 16px;
    --num-cole: 4;
    --row-height: 300px;

 box-sizing: border-box;
 padding: var(--gap);

 display: grid;
 grid-template-columns: repeat(var(--num-cols), 1fr);
 grid-auto-rows: var(--row-height);
 gap: var(--gap);
}

.image-grid > img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.image-grid-col-2 {
    grid-column: span 2;
}

.image-grid-row-2 {
    grid-row: span 2;
}

.toppad {
    padding-top: 10px;
}

@media screen and  (max-width: 1024px){
    .image-grid {
        --num-cols: 2;
        --row-height: 200;
    }
}

@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:wght@500;600;700;800;900&family=Quicksand:wght@300;400;500;600;700&display=swap');
@import url('https://fonts.googleapis.com/css?family=Poppins:400,500,600,700&display=swap');

:root{
    --Playfair: 'Playfair Display', serif;
    --Quicksand: 'Quicksand', sans-serif;
    --Roboto: 'Roboto', sans-serif;
    --dark1: #3c393d;
    --exDark1: #2b2b2b;
}
*{
    padding: 0;
    margin: 0;
    font-family: var(--Quicksand);
}
body{
    line-height: 1.4;
    color: var(--dark1);
}
img{
    width: 100%;
    display: block;
}
.container-blog{
    max-width: 1320px;
    margin: 0 auto;
    padding: 0 1.2rem;
}

/* header */
header{
    min-height: 80vh;
    /* background: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)), center/cover no-repeat fixed; */
    display: flex;
    flex-direction: column;
    justify-content: stretch;
}

.banner{
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    color: #fff;
    padding-top: 10vh;
    padding-bottom: 40vh;
}
.banner-title{
    padding-top: 10vh;
    font-size: 3rem;
    font-family: var(--Playfair);
    line-height: 1.2;
}
.banner-title span{
    font-family: var(--Playfair);
    color: var(--exDark1);
}
.banner p{
    padding: 1rem 0 2rem 0;
    font-size: 1.2rem;
    text-transform: capitalize;
    font-family: var(--Roboto);
    font-weight: 300;
    word-spacing: 2px;
}
.banner form{
    background: #fff;
    border-radius: 2rem;
    padding: 0.6rem 1rem;
    display: flex;
    justify-content: space-between;
}
.search-input{
    font-family: var(--Roboto);
    font-size: 1.1rem;
    width: 100%;
    outline: 0;
    padding: 0.6rem 0;
    border: none;
}
.search-input::placeholder{
    text-transform: capitalize;
}
.search-btn{
    width: 40px;
    font-size: 1.1rem;
    color: var(--dark1);
    border: none;
    background: transparent;
    outline: 0;
    cursor: pointer;
}

/* design */
/* .design{
    padding: 4.5rem 0;
} */
.title{
    text-align: center;
    padding: 1rem 0;
}
.title h2{
    font-family: var(--Playfair);
    font-size: 2.4rem;
}
.title p{
    text-transform: uppercase;
    padding: 0.6rem 0;
}
.design-content{
    margin: 2rem 0;
}
.design-item{
    cursor: pointer;
    margin: 1.5rem 0;
}
.design-img{
    position: relative;
    overflow: hidden;
}
.design-img::after{
    position: absolute;
    content: "";
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.3);
}
.design-img img{
    transition:  all 0.5s ease;
}
.design-item:hover img{
    transform: scale(1.2);
}
.design-img span:first-of-type{
    position: absolute;
    z-index: 1;
    top: 10px;
    left: 10px;
    background: var(--exDark1);
    color: #fff;
    padding: 0.25rem 1rem;
}
.design-img span:last-of-type{
    position: absolute;
    z-index: 1;
    bottom: 10px;
    right: 10px;
    color: #fff;
    font-weight: 700;
    font-size: 1.1rem;
}
.design-title{
    padding: 1rem;
    font-size: 1.2rem;
    text-align: center;
    width: 70%;
    margin: 0 auto;
}
.design-title a{
    color: var(--dark1);
    text-decoration: none;
    text-transform: capitalize;
    font-family: var(--Playfair);
}

/* blog */
.blog{
    background: #f9f9f9;
    padding: 4.5rem 0;
}
.blog-content{
    margin: 2rem 0;
}
.blog-img{
    position: relative;
}
.blog-img span{
    position: absolute;
    bottom: 10px;
    right: 10px;
    background: var(--exDark1);
    color: #fff;
    font-size: 1.4rem;
    padding: 0.3rem 0.6rem;
}
.blog-text{
    margin: 2.2rem 0;
    padding: 0 1rem;
}
.blog-text span{
    font-weight: 300;
    display: block;
    padding-bottom: 0.5rem;
}
.blog-text h2{
    font-family: var(--Playfair);
    padding: 1rem 0;
    font-size: 1.65rem;
    font-weight: 500;
}
.blog-text p{
    font-weight: 300;
    font-size: 1.1rem;
    opacity: 0.9;
    padding-bottom: 1.2rem;
}
.blog-text a{
    font-family: var(--Roboto);
    font-size: 1.1rem;
    text-decoration: none;
    color: var(--dark1);
    display: inline-block;
    background: var(--dark1);
    color: #fff;
    padding: 0.55rem 1.2rem;
    transition: all 0.5s ease;
}
.blog-text a:hover{
    background: var(--exDark1);
}

/* about */
.about{
    padding: 4.5rem 0;
}
.about-text{
    margin: 2rem 0;
}
.about-text > p{
    font-size: 1.1rem;
    padding: 0.6rem 0;
    opacity: 0.8;
}
@media screen and (min-width: 768px){
    .navbar .container-blog{
        display: flex;
        align-items: center;
        justify-content: space-between;
    }
    .search-input{
        padding: 0.8rem 0;
    }
    .design-content{
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 2rem;
    }
    .design-item{
        margin: 0;
    }
    .blog-content{
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 2rem;
    }
}

@media screen and (min-width: 992px){
    .blog-content{
        grid-template-columns: repeat(3, 1fr);
    }
    .about-content{
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        column-gap: 3rem;
        align-items: center;
    }
}

@media screen and (min-width: 1200px){
    .design-content{
        grid-template-columns: repeat(3, 1fr);
    }
}

.slider{
    position: absolute;
    width: 100%;
    height: 500px;
    border-radius: 10px; 
    z-index: -1;
    overflow: hidden;
}

.slides{
    width: 500%;
    height: 500px;
    display: flex;
}

.slides input{
    display: none;
}

.slide{
    width: 20%;
    transition: 2s;
    padding-top: 30px;
    filter: blur(2px);
}

.slide img{
    /* width: 100%; */
    height: 100%;
    filter: brightness(40%);
}

.navigation-manual{
    position: absolute;
    width: 800px;
    margin-top: -40px;
    display: flex;
    justify-content: center;

}

#radio1:checked ~ .first{
    margin-left: 0;
}

#radio2:checked ~ .first{
    margin-left: -20%;
}

#radio3:checked ~ .first{
    margin-left: -40%;
}

#radio4:checked ~ .first{
    margin-left: -60%;
}

.navigation-auto{
    position: absolute;
    display: flex;
    width: 100%;
    justify-content: center;
    margin-top: 460px;
    z-index: 10;
}

.navigation-auto div{
    border: 2px solid #40D3DC;
    padding: 5px;
    border-radius: 10px;
    transition: 1s;
}

.navigation-auto div:not(:last-child){
    margin-right: 40px;
}

#radio1:checked ~ .navigation-auto .auto-btn1{
    background:#40D3DC;

}

#radio2:checked ~ .navigation-auto .auto-btn2{
    background:#40D3DC;

}

#radio3:checked ~ .navigation-auto .auto-btn3{
    background:#40D3DC;

}

#radio4:checked ~ .navigation-auto .auto-btn4{
    background:#40D3DC;

}

.comment-box{
    position: relative;
	top: 20%;
	width: 90%;
    /* padding: 20em 0; */
    margin: 25vh auto;
	display: block;
    text-align: left;
    padding: 20px;
    border-radius: 15px;
    background-color: #12002F;
}

.comment-box h2{
    font-size: 20px;
    margin-bottom: 15px;
    color: #FFF;
}

.comment-box form {    
    border-radius: 15px;
    color: #ffffff;
    background-color: #12002F;
}
.comment-box input{
    width: 100%;
    height: 50px;
    padding: 0 20px;
    margin-bottom: 15px;
    border-radius: 15px;
    border: 1px solid #9a2dd9;
    background-color: var(--dark1);
    color: #ffffff;
    width: 250px;
    height: 35px;
}

.comment-box textarea {
    padding: 10px;
    outline: none;
    border-radius: 20px;
    border: 1px solid #9a2dd9;
    background-color: var(--dark1);
    color: #ffffff;

}
.comment-box input:focus{
    border: 1px solid #000;
    outline: 0;
}
.comment-box textarea{
    width: 100%;
    height: 150px;
    padding: 15px 20px;
    margin-bottom: 10px;
    border-radius: 15px;
    border: 1px solid #9a2dd9;
}
.comment-box textarea:focus{
    border: 1px solid #000;
    box-shadow: 0 0 10px #9a2dd9;
    outline: 0;
}
.comment-box button{
    float: right ;
    border: 0;
    padding: 10px 30px;
    background: linear-gradient(135deg,#3a8ffe 0%,#9658fe 100%);
    font-size: 18px;
    border-radius: 5px;
    color: #fff;
}
.comment-box button:hover{
    background-color: #9a2dd9;
}

.comment-box select {
    padding: 10px;
    color: #FFF;
    background-color: var(--dark1);
    border-radius: 15px;
    border: solid #9a2dd9 1px;
}

/* html,body{
  display: grid;
  height: 100%;
  place-items: center;
  text-align: center;
} */
.image-container{
  height: 350px;
  width: 100%;
  position: relative;
}
.image-container .wrapper{
  position: relative;
  height: 300px;
  width: 100%;
  border-radius: 10px;
  background: #fff;
  border: 2px dashed #c2cdda;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
}
.wrapper.active{
  border: none;
}
.wrapper .image{
  position: absolute;
  height: 100%;
  /* width: 100%; */
  display: flex;
  align-items: center;
  justify-content: center;
}
.noimage {
    display: none;
}
.wrapper img{
  height: 100%;
  width: 100%;
  object-fit: cover;
}
.wrapper .icon{
  font-size: 100px;
  color: #9658fe;
}
.wrapper .text{
  font-size: 20px;
  font-weight: 500;
  color: #5B5B7B;
}
.wrapper #cancel-btn i{
  position: absolute;
  font-size: 20px;
  right: 15px;
  top: 15px;
  color: #9658fe;
  cursor: pointer;
  display: none;
}
.wrapper.active:hover #cancel-btn i{
  display: block;
}
.wrapper #cancel-btn i:hover{
  color: #e74c3c;
}
.wrapper .file-name{
  position: absolute;
  bottom: 0px;
  width: 100%;
  padding: 8px 0;
  font-size: 18px;
  color: #fff;
  display: none;
  background: linear-gradient(135deg,#3a8ffe 0%,#9658fe 100%);
}
.wrapper.active:hover .file-name{
  display: block;
}
.image-container #custom-btn{
  margin: 15px 0;
  display: block;
  /* width: 100%; */
  /* height: 50px; */
  border: none;
  outline: none;
  border-radius: 5px;
  color: #fff;
  font-size: 18px;
  font-weight: 500;
  letter-spacing: 1px;
  text-transform: uppercase;
  cursor: pointer;
  background: linear-gradient(135deg,#3a8ffe 0%,#9658fe 100%);
}