:root{
    --primary: #Bc38ff;
    --light:#EEEEEE;
    --dark: #212121;
    --bg: #24104f
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Fira sans',sans-serif;
}
.container {
    max-width: 1280px;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

nav{
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 99;
    background:linear-gradient(to right,#00093c,#2d0b00);
    padding: 16px 32px;
    border-bottom: 3px solid var(--primary);
}
h1 {
    color:#FFF;
    font-size:  28px;
    font-weight: 900;
    letter-spacing: 2px;
    text-transform: uppercase;
}

/* .menu-bg {

} */

.hamburger{
    display: block;
    position: relative;
    z-index: 1;
    user-select: none;
    appearance: none;
    border: none;
    outline: none;
    background : none;
    cursor:pointer;
    
}
.hamburger span {
    display: block;
    width: 33px;
    height: 4px;
    margin-bottom: 5px;
    position: relative;
    background-color: var(--light);
    border-radius: 6px;
    z-index: 1;
    transform-origin: 0 0;
    transition: 0.4s;
}
.hamburger:hover span:nth-child(2) {
    transform: translateX(10px);
    background-color: var(--primary);

}
.hamburger.is-active span:nth-child(1){
    transform: translate(0px,-2px) rotate(45deg);
}
.hamburger.is-active span:nth-child(2){
    opacity: 0;
    transform: translateX(15px);
}

.hamburger.is-active span:nth-child(3){
    transform: translate(-3px,3px) rotate(-45deg);
} 

.hamburger.is-active:hover span {
    background-color: var(--primary);
}

.hamburger.is-active ~ a {
  transform: none;
}

.hamburger a {
    display: none;
}

.menu {
    display: none;
    flex: 1 1 0%;
    justify-content: flex-end;
    margin: 0 -16px;
}

.menu a {
    color: #FFF;
    margin: 0 16px;
    font-weight: 600;
    text-decoration: none;
    transition: 0.4s;
    padding: 8px 16px;
    border-radius:  99px;
    float: right;
}
.menu a.is-active , .menu a:hover{
    background-color: var(--primary);
}
.menu a.is-active:hover {
    background-color: var(--light);
    color: var(--dark);
}

.hmenu {
	position: fixed;
	top: 0;
	left: 100%;
	width: 100%;
	min-height: 100vh;
	display: block;
	z-index: 98;
	background-color: #12002F;
	padding-top: 120px;
	transition: 0.4s;
}

.hmenu.is-active {
	left: 0;
}

.hmenu a {
	display: block;
	width: 100%;
	max-width: 200px;
	margin: 0 auto 16px;
	text-align: center;
	padding: 12px 16px;
	background-color: #1f103F;
    border-radius:  99px;
    font-weight: 600;
	color: #FFF;
	text-decoration: none;
}
.hmenu a.is-active {
    background-color: #24104f;
}
.hmenu a:hover {
    background-color: var(--primary);
}

.outercontainer {
    position: relative;
	top: 20%;
	width: 100%;
    padding: 20em 0;
	display: block;
    text-align: left;
	transition: 0.4s;
}
.innercontainer {
    padding: 5px;
}
.outercontainer form {  
    width: 382px;  
    overflow: hidden;  
    margin: auto;  
    margin: 20 0 0 450px;  
    padding: 60px;   
    border-radius: 15px;
    color: #ffffff;
    background-color: #12002F;
}
.outercontainer label {
    padding-left: 10px;
}
.outercontainer button {
    background-color: #24104f;
    border-radius: 99px;
    border-style: none;
    padding: 12px 16px;
    color: #FFF;
    font-weight: 600;
    margin-top: 10px;
    margin-left: 10px;
}

input[type="email"],[type="password"],[type="text"] {
    padding: 10px;
    outline: none;
    border-radius: 20px;
    border: 1px solid #9a2dd9;
    background-color: var(--dark);
    color: #ffffff;
    width: 250px;
    height: 35px;
}

input:focus {
    box-shadow: 0 0 10px #9a2dd9;
}

footer{
    width: 100%;
    height: 10%;
    position: relative;
    bottom: 0;
    background:linear-gradient(to right,#00093c,#2d0b00);
    color: #fff;
    padding: 100px 0 30px;
    border-top-left-radius: 125px;
    font-size: 13px;
    line-height: 20px;
}
.row{

    width:85%;
    margin:auto;
    display:flex;
    align-items:flex-start;
    justify-content:space-between;
}
.col{
    flex-basis:25%;
    padding:10px;
}
.col:nth-child(2), .col:nth-child(3){
    flex-basis: 15%;
}
.col h3{
    width:fit-content;
    margin-bottom:40px;
    position:relative;
}
.email-id{
    width:fit-content;
     border-bottom:1px solid #ccc;
     margin:20px;
}
ul li{
    list-style:none;
    margin-bottom:12px;
}
ul li a{

    text-decoration:none;
    color:#fff;
}
.col form{
    padding-bottom:15px;
    display:flex;
    align-items:center;
    justify-content:space-between;
    border-bottom:1px solid #ccc;
    margin-bottom:50px;
}
.col form .far{
    font-size:18px;
    margin-right:10px;
}
.col form input{

    width:100%;
    background:transparent;
    color:#ccc;
    border:0;
    outline:none;
}
.col form .far{
    font-size:18px;
    margin-right:10px;
}
.col form input{

    width:100%;
    background:transparent;
    color:#ccc;
    border:0;
    outline:none;
}
.col form button{
    background: transparent;
    border: 0;
    outline: none;
    cursor: pointer;
}
.col form button .fas{
    font-size: 16px;
    color: #ccc;
}
.social-icons .fab{
    width: 40px;
    height: 40px;
    border-radius: 50%;
    text-align: center;
    line-height: 40px;
    font-size: 20px;
    color: #000;
    background: #fff;
    margin-right: 15px;
    cursor: pointer;
}
hr{
    width: 90%;
    border: 0;
    border-bottom: 1px solid #ccc;
    margin: 20px auto;
}
.copyright{
    text-align: center;
}
.underline{
    width: 100%;
    height: 5px;
    background: #767676;
    border-radius: 3px;
    position: absolute;
    top: 25px;
    left: 0;
    overflow: hidden;
}
.underline span{
    width: 15px;
    height: 100%;
    background: #fff;
    border-radius: 3px;
    position: absolute;
    top: 0;
    left: 10px;
    animation: moving 2s linear infinite;
}

.outline {
    height: 100%;
}

@keyframes moving{
    0%{
        left: -20px;
    }
    100%{
        left: 100%;
    }
}
@media (max-width: 700px){
    footer{
        bottom: unset;
    }
    .col{
        flex-basis:100%;
        
    }
    .col:nth-child(2), .col:nth-child(3){
        flex-basis: 100%;
    }
}

@media(min-width: 768px) {
    .hamburger{
        display: none;
    }
    .hmenu {
		display: none;
	}
    .menu{
        display : block;
    }
}
