<!DOCTYPE html>
<html lang="en">
{% include "header.html" %}
<body>
{% include "navbar.html" %}
<section class="about">
        <div class="main">
            <img src="/static/travel.jpg" style="width: 45%; margin-left: 0;" alt="">
            <div class="about-text"><br>
                <h1>About us</h1><br><br>
                <h5>Travel. <span> Destination</span></h5>
                <p> A comprehensive guide to the world's best travel destinations to provide detailed and accurate travel content designed to inspire global travellers. A platform for travellers to share their experiences with the travelling community. A place to find all the best attractions of a city to better your travel plans.</p><br>
                <br>
                <h5>Contact <span>Us</span></h5>
                <p>Tel: +91 203 740 3240<br>travel.destinationi@google.com</p>
                
            </div>
        </div>
</section>
<!-- {% include "footer.html" %} -->

</body>
</html>