<!DOCTYPE html>
<html lang="en">
{% include "header.html" %}
<body>
{% include "navbar.html" %}
<section class="about">
        <div class="main">
            <img src="/static/thug.png" alt="">
            <div class="about-text"><br>
                <h1>About us</h1><br><br>
                <h5>Developer <span> & Designer</span></h5>
                <p>We are here In general, text is a collection of words or letters that are understandable by the reader. On a computer, text is added, viewed, edited, and modified using a text editor or word processing program. To add text, a keyboard is most often used. However, may also be added using touch and an on-screen keyboard or through voice recognition</p><br>
                <br>
                <button type="button">Let's talk</button>
            </div>
        </div>
</section>
<!-- {% include "footer.html" %} -->

</body>
</html>