
{% block footer %}
<footer>
    <div class="row">
          <div class="col">
            <p>A comprehensive guide to the world's best travel destinations to provide detailed and accurate travel content designed to inspire global travellers. A platform for travellers to share their experiences with the travelling community. A place to find all the best attractions of a city to better your travel plans.
            </p>
          </div>
          <div class="col">
            <h3>Office <div class="underline"><span></span></div></h3>
            <p>Contact Us</p>
            <p>at</p>
            <!-- <p>Earth,PIN 69420</p> -->
            <p class="email-id">travel.destinationi@google.com</p>
            <h4>+91 2037403240</h4>
          </div>
          <div class="col">
            <h3>Links <div class="underline"><span></span></div></h3>
            <ul>
                <li><a href="{{ url_for('index') }}"> Home </a></li>
                <!-- <li><a href=""> Services </a></li> -->
                <li><a href="{{ url_for('about') }}"> About Us </a></li>
                <li><a href="{{ url_for('register') }}"> Register Now </a></li>
                <li><a href="{{ url_for('about') }}"> Contacts </a></li>
            </ul>
          </div>
          <div class="col">
            <h3>Newsletter <div class="underline"><span></span></div></h3>
            <form>
                 <i class="far fa-envelope"></i>
                 <input type="email"placeholder="Enter your email id"required>
                 <button type="submit"><i class="fas fa-arrow-right"></i></button>
            </form>
            <div class="social-icons">
              <i class="fab fa-facebook-f"></i>
              <i class="fab fa-twitter"></i>
              <i class="fab fa-whatsapp"></i>
              <i class="fab fa-pinterest"></i>
            </div>
          </div>
    </div>
    <hr>   
    <p class="copyright">Made with love ♥</p>
</footer>
    <script src="/static/main.js"></script>
{% endblock %}
