
{% block footer %}
<footer>
    <div class="row">
          <div class="col">
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Repellat ut dolore eos facilis! Dolore ad quidem, esse earum voluptates vel, fugiat ipsum accusantium aspernatur temporibus, amet quae inventore corporis magni.
            </p>
          </div>
          <div class="col">
            <h3>Office <div class="underline"><span></span></div></h3>
            <p>Lorem</p>
            <p>Unga, Bunga</p>
            <p>Earth,PIN 69420</p>
            <p class="email-id">abcd@xy.z</p>
            <h4>+91-000000000</h4>
          </div>
          <div class="col">
            <h3>Links <div class="underline"><span></span></div></h3>
            <ul>
                <li><a href=""> Home </a></li>
                <li><a href=""> Services </a></li>
                <li><a href=""> About Us </a></li>
                <li><a href=""> Features </a></li>
                <li><a href=""> Contacts </a></li>
            </ul>
          </div>
          <div class="col">
            <h3>Newsletter <div class="underline"><span></span></div></h3>
            <form>
                 <i class="far fa-envelope"></i>
                 <input type="email"placeholder="Enter your email id"required>
                 <button type="submit"><i class="fas fa-arrow-right"></i></button>
            </form>
            <div class="social-icons">
              <i class="fab fa-facebook-f"></i>
              <i class="fab fa-twitter"></i>
              <i class="fab fa-whatsapp"></i>
              <i class="fab fa-pinterest"></i>
            </div>
          </div>
    </div>
    <hr>   
    <p class="copyright">Made with love ♥</p>
</footer>
    <script src="/static/main.js"></script>
{% endblock %}
