{% block head %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ title }}</title>
    <link rel="stylesheet" href="/static/styles.css" />
    
</head>
<body>
    <nav>
        <div class="container">
            <h1>BOOST TOURSIUM</h1>
            <div class="menu">
                <a href="#" class="is-active">Home</a>
                <a href="#">About</a>
                <a href="#">Projects</a>
                <a href="#">contacts</a>
            </div>

            <button class="hamburger">
                <span></span>
                <span></span>
                <span></span>
            </button>

        </div>
    </nav>

    <script src="/static/main.js"></script>
</body>
</html>
{% endblock %}