<!DOCTYPE html>
<html lang="en">
{% include "header.html" %}
<body>
{% include "navbar.html" %}
<div class="outercontainer">
<form action="/login" method="post">
        {% if error %}
        <div class="error">
            {{ error }}
        </div>
        {% endif %}
        <div class="innercontainer">
            <label for="email"><b>Email</b></label><br>
            <input type="email" placeholder="Enter email" name="email" required="true">
        </div>
        <div class="innercontainer">
            <label for="password"><b>Password</b></label><br>
            <input type="password" placeholder="Enter password" name="password" required="true">
        </div>
        <div class=""innercontainer>
            <button type="submit">Login</button>
            or
            <a href="/register">Register</a>
        </div>
</form>
</div>
{% include "footer.html" %}

</body>
</html>