{% block navbar %}
    <nav>
        <div class="container">
            <h1>Travel Destination</h1>
            <div class="menu">
                <a href="#" class="is-active">Home</a>
                <a href="#">About</a>
                <!-- <a href="#">Projects</a>
                <a href="#">contacts</a> -->
            </div>

            <button class="hamburger">
                <span></span>
                <span></span>
                <span></span>
            </button>
        </div>
    </nav>
    <nav class="hmenu" id="hmenu">
        <a href="#" class="is-active">Home</a>
        <a href="#">About</a>
        <!-- <a href="#">Projects</a>
        <a href="#">contacts</a> -->
    </nav>

{% endblock %}