{% block navbar %}
    <nav>
        <div class="container">
            <h1>Travel Destination</h1>
            <div class="menu">
                {% if "email" in session %}
                <a href="{{ url_for('logout') }}" class="logout">Logout</a>
                <a href="/user"><i class="fa fa-user logout" aria-hidden="true"></i></a>
                {% else %}
                <a href="{{ url_for('login') }}">Login</a>
                {% endif %}
                <a href="/" class="is-active">Home</a>
                <a href="/about">About</a>
                <a href="/post">Posts</a>
            </div>

            <button class="hamburger">
                <span></span>
                <span></span>
                <span></span>
            </button>
        </div>
    </nav>
    <nav class="hmenu" id="hmenu">
        <a href="/" class="is-active">Home</a>
        <a href="#">About</a>
        <a href="/post">Posts</a>
        {% if "email" in session %}
        <a href="/user"><i class="fa fa-user logout" aria-hidden="true"></i></a>
        <a href="{{ url_for('logout') }}" class="logout">Logout</a>
        {% else %}
        <a href="{{ url_for('login') }}">Login</a>
        {% endif %}
    </nav>

{% endblock %}