<!DOCTYPE html>
<html lang="en">
{% include "header.html" %}
<body>
{% include "navbar.html" %}
<div class="postcontainer">
    <div class="post">
        <h2>{{ post.title }}</h2><h3>{{ username }}</h3>
        <div class="weather-container">
        <!-- <div class="weather">
        <img src="https://openweathermap.org/img/wn/ weather['icon'] @2x.png" class="weatherimg">
        <div>
            <p> weather["weather"] </p>
            <p> "{:.2f}".format(weather["temp"] - 273) °C</p>
        </div>
        </div> -->
        </div>
        <img src="/static/upload/{{ post.img }}">
        <span>
            <a href="{{ url_for('like_post',did=post._did) }}">
            <i class="far fa-heart"></i>
            {{ post.like }}
            </a>
            <!-- <span class="spacer"></span> -->
            <i class="fa fa-share-alt" onclick="copyLink()">
            </i>
            {% if candelete %}
            <i class="fa fa-trash" onclick="location.href = '/delete/{{ post._did }}'">
            </i>
            {% endif %}
            <p> {{ post.content }}</p>
            <p><b>{{ post.address }}</b></p>
        </span>
    </div>
</div>
{% include "footer.html" %}

<script>
    function copyLink() {
        var copyText = document.location.href;

        navigator.clipboard.writeText(copyText);

        alert("Copied the text: " + copyText);
    }
    async function reqWeather() {
        let response = await fetch('http://localhost:5000/weather?city={{ post.city }}');
        return await response.json();
    }

    async function updateWeather() {
        let data = await reqWeather();

        let weather = document.getElementsByClassName("weather-container")[0];

        weather.innerHTML = `<div class="weather">
            <img src="https://openweathermap.org/img/wn/${data['icon']}@2x.png" class="weatherimg">
            <div>
                <p>${data["weather"]}</p>
                <p>${Math.round(data["temp"] - 273).toFixed(2)} °C</p>
            </div>
            </div>`;
    }

    updateWeather();
</script>
</body>
</html>