<!DOCTYPE html>
<html lang="en">
{% include "header.html" %}
<body>
{% include "navbar.html" %}

<div class="">
<div class="comment-box">
    <h2>Comments</h2>
    <form action="/post" method="post" enctype="multipart/form-data">
      {% if error %}
      <div class="error">
         {{ error }}
      </div>
      {% endif %}
         <div class="image-container">
            <div class="wrapper">
               <div class="image">
                  <img src="" alt="">
               </div>
               <div class="content">
                  <div class="icon">
                     <i class="fas fa-cloud-upload-alt"></i>
                  </div>
                  <div class="text">
                     No file chosen, yet!
                  </div>
               </div>
               <div id="cancel-btn">
                  <i class="fas fa-times"></i>
               </div>
               <div class="file-name">
                  File name here
               </div>
            </div>
            <input id="default-btn" type="file" name="img" hidden>
            <a href="javascript:defaultBtnActive()" class="custom-btn">Choose a File</a>

         </div>
        <!-- <button onclick="defaultBtnActive()" id="custom-btn">Choose a file</button> -->
        <input type="text" name="title">
        <textarea name="content" placeholder="Type your comment..."></textarea>
        <textarea class="address" name="address" placeholder="Type the address..."></textarea>
        <input type="text" name="city" class="city">
        <select name="type" id="type">
            {% for type in types %}
            <option value="{{ type }}">{{ type }}</option>
            {% endfor %}
        </select>
        <button type="submit">Submit Comment</button>      
      </form>
</div>
</div>
<script>
    const wrapper = document.querySelector(".wrapper");
    const fileName = document.querySelector(".file-name");
    const defaultBtn = document.querySelector("#default-btn");
   //  const customBtn = document.querySelector("#custom-btn");
    const cancelBtn = document.querySelector("#cancel-btn i");
    const img = document.querySelector("img");
    img.classList.add("noimage");  
    let regExp = /[0-9a-zA-Z\^\&\'\@\{\}\[\]\,\$\=\!\-\#\(\)\.\%\+\~\_ ]+$/;
    function defaultBtnActive(){
      const defaultBtn = document.querySelector("#default-btn");
      defaultBtn.click();
    }
    defaultBtn.addEventListener("change", function(){
      const file = this.files[0];
      if(file){
        const reader = new FileReader();
        reader.onload = function(){
          const result = reader.result;
          img.src = result;
          wrapper.classList.add("active");
          img.classList.remove("noimage");
        }
        cancelBtn.addEventListener("click", function(){
          img.src = "";
          img.classList.add("noimage");
          wrapper.classList.remove("active");
        })
        reader.readAsDataURL(file);
      }
      if(this.value){
        let valueStore = this.value.match(regExp);
        fileName.textContent = valueStore;
      }
    });
 </script>


{% include "footer.html" %}

</body>
</html>