<!DOCTYPE html>
<html lang="en">
{% include "header.html" %}
<body>
{% include "navbar.html" %}

<div class="">
<div class="comment-box">
    <h2>Comments</h2>
    <form action="#">
        <input type="text" name="title">
        <textarea name="content" placeholder="Type your comment..."></textarea>
        <select name="city" id="city">
            <!-- <option value=""></option> -->
        </select>
        <button type="submit">Submit Comment</button>      
      </form>
</div>
</div>

{% include "footer.html" %}

</body>
</html>